//colors
$white: #ffffff;
$background-white: #e5e5e5;
$dark-blue: #090E3F;
$green: #33D160;

//fonts
%font-main{
  font-family: 'Montserrat', sans-serif;
}
%font-logo{
  font-family: 'Fira Mono', monospace;;
}